.typesOfRooms{
    display: flex;
    flex-direction: row;
}

.typeOfRoom{
    width: 100px;
}
.Output{
    display: flex;
    flex-direction: column;
}

p{
    background-color: rgb(181, 238, 255);
    font-style: oblique;
    font-size: 20px;
}

.hard{
    color: red;
}